<div class="email-code-container">
    <div class="email-code-box">
      <h2><strong>Zresetuj hasło</strong></h2>
      <form>
        <input type="email" placeholder="Email" class="email-code-input" />
        <p class="email-code-hint">Wpisz swój email</p>
        <div class="email-code-buttons">
          <button type="button" (click)="navigateToLogin()" class="email-code-button back-button">Wróć</button>
          <button type="button" (click)="proceedToResetPassword()" class="email-code-button">Dalej</button>
        </div>
      </form>
    </div>
  </div>
  