<form (submit)="login(); $event.preventDefault()">
  <input type="text" [(ngModel)]="username" name="username" placeholder="Login" class="login-input" required />
  <input type="password" [(ngModel)]="password" name="password" placeholder="Hasło" class="login-input" required />
  
  <div class="forgot-password">
    <a (click)="navigateToForgotPassword()">Nie pamiętam hasła</a>
  </div>

  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <button type="submit" class="login-button">Zaloguj</button>
</form>
