/* login.component.scss (lub .css) */

/* Tło na cały ekran */
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #6b636e; /* ciemnoszary/ fioletowy odcień tła strony */
  margin: 0;
  padding: 0;
}

/* Pojemnik na treść formularza */
.login-container {
  background-color: #f4f4f4;  /* jasne tło „karty” */
  border-radius: 20px;
  width: 350px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center; /* centrowanie zawartości w poziomie */
}

/* Nagłówek powitalny */
.login-container h1 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.4rem;
  font-weight: 600;
}

/* Sam formularz */
form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* Pola tekstowe */
.login-input {
  width: 80%;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  font-size: 16px;
  color: #333;
  background-color: #e2e2e2; 
  border: none;
  border-radius: 30px;
  text-align: center;
  transition: background-color 0.2s;
}

.login-input::placeholder {
  color: #999;
}

.login-input:focus {
  outline: none;
  background-color: #ddd; 
}

/* Link "Nie pamiętam hasła" */
.forgot-password {
  margin-bottom: 1rem;
}

.forgot-password a {
  font-size: 0.85rem;
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Komunikat błędu */
.error-message {
  margin-bottom: 1rem;
  color: #ff0000; 
  font-weight: 500;
}

/* Przycisk "Zaloguj" */
.login-button {
  width: 80%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #b29ef8; /* pastelowy fiolet */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: #9f8bdf; /* ciemniejszy odcień fioletu */
}
h1{
  font-weight: bold;
}