<div class="search-container">
  <input 
    type="text" 
    class="search-bar"
    placeholder="Wyszukaj użytkownika"
    [(ngModel)]="searchQuery"
    (focus)="toggleDropdown()"
    (blur)="closeDropdown()"
  />
  
  <div class="dropdown" *ngIf="isDropdownOpen">
    <!-- Kliknięcie w element wywołuje goToChat(member) -->
    <div class="dropdown-item" 
         *ngFor="let member of filteredTeammates"
         (click)="goToChat(member)">
      <span>{{ member.name }}</span>
    </div>
  </div>
</div>
