<div class="reset-container">
  <div class="reset-box">
    <h2><strong>Zresetuj hasło</strong></h2>
    <form>
      <input type="email" placeholder="Kod z email" class="reset-input" />
      <input type="password" placeholder="Nowe hasło" class="reset-input" />
      <input type="password" placeholder="Powtórz hasło" class="reset-input" />
      <div class="reset-buttons">
        <button type="button" (click)="navigateToLogin()" class="reset-button back-button">Wróć</button>
        <button type="button" (click)="resetPassword()" class="reset-button">Zresetuj hasło</button>
      </div>
    </form>
  </div>
</div>
